body {
    font-family: Arial, sans-serif;
    background-color: #151536;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #4caf50;
    font-size: 2.5em;
    margin-bottom: 20px;
    border-bottom: 3px solid #4caf50;
}

.section1{
    border: 1px solid blue;
    border-radius: 8px;
    margin-bottom: 12px;
}

.section2{
    border: 1px solid blue;
    border-radius: 8px;
}

h2, h3, h5 {
    color: #333;
    border-bottom: 2px solid #608dec;
    padding-bottom: 5px;
    margin: 12px;
}

button{
    margin: 12px;
    background: rgb(178, 195, 245);
    border: 1px solid rgb(47, 45, 72);
}

p {
    margin: 10px 0;
}

b{
    color: blue;
}

.b1{
    color: rgb(64, 10, 103);
}

.b2{
    color:#3e319c ;
}

.b3{
    color: green;
}

.b4{
    color: red;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

p code {
    display: block;
    background: #f4f4f4;
    padding: 10px;
    border-left: 5px solid #4caf50;
    margin: 10px 0;
    color: #555;
    overflow-x: auto;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #777;
}
